<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Cursos de Criminalística y Ciencias Forenses | CriminalísticaOK</title>
    <meta name="description" content="Capacitaciones profesionales en criminalística, balística, dactiloscopía y medicina forense. Formación técnica avanzada para estudiantes y expertos.">
    <meta name="keywords" content="cursos criminalistica, balistica forense, perito criminalista, medicina forense, capacitacion forense, dactiloscopia">
    <meta name="author" content="CriminalísticaOK">
    
    <meta property="og:title" content="Capacitaciones CriminalísticaOK | Formación Forense de Élite">
    <meta property="og:description" content="Accede a la biblioteca técnica más completa en ciencias forenses y criminalística aplicada.">
    <meta property="og:image" content="../Static/Images/hero-bg.jpg"> <meta property="og:type" content="website">

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="../Static/Css/cursos.css">
    <link rel="icon" href="../Static/Images/Logo.ico" type="image/x-icon">

</head>
<body>
    <a href="../index.html" class="btn-back">
        <i class="fas fa-arrow-left"></i> Volver
    </a>

    <header class="hero" id="inicio">
        <h1>Capacitaciones Criminalística<span class="yellow">Ok</span></h1>
        <p>Formación para estudiantes y profesionales</p>
    </header>

    <section class="filters">
        <div class="filters-left">
            <button class="filters-arrow left" id="filtersPrev">
            <i class="fas fa-chevron-left"></i>
            </button>

            <div class="filters-viewport">
            <div class="filter-buttons" id="filtersTrack">
                <button class="filter-btn active" data-filter="all">Todos</button>
                <button class="filter-btn" data-filter="taller">Taller</button>
                <button class="filter-btn" data-filter="disertaciones">Disertaciones</button>
            </div>
            </div>

            <button class="filters-arrow right" id="filtersNext">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>

        <div class="search-box">
            <i class="fas fa-search"></i>
            <input type="text" id="search" placeholder="Buscar curso...">
        </div>
    </section>


    <main class="courses-grid">

        <!--1-->
        <article class="course-card" data-category="disertaciones">
        <span class="badge">Más buscado</span>

        <div class="carousel">
            <img src="../Static/Images/Jornada Forense.jpg" class="active">
            <div class="dots"></div>
        </div>

        <div class="course-body">
            <span class="tag">Disertación</span>
            <h3>Jornada Forense</h3>
            <p class="description">
            Encuentro para estudiantes y profesionales.
            </p>

            <p class="author">
            <i class="fas fa-user"> </i>  Equipo CriminalísticaOk
            </p>

            <div class="rating">
            ★★★★★ <span>(4.9)</span>
            </div>
        </div>

        <div class="course-footer">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdcFH1kGQR5lskhFZjH2BsZ_m2HDuKqiPlknUiLYKQc2CK3UA/alreadyresponded" class="btn-view">Ver clase</a>
        </div>
        </article>

        <!--2-->
        <article class="course-card" data-category="disertaciones">

        <div class="carousel">
            <img src="../Static/Images/Jornada Forense 1.png">
            <div class="dots"></div>
        </div>

        <div class="course-body">
            <span class="tag">Disertación</span>
            <h3>Proteger para Investigar</h3>
            <p class="description">
            Manejo operativo del lugar del hecho.
            </p>

            <p class="author">
            <i class="fas fa-user"> </i>  Cristian Abarzua
            </p>

            <div class="rating">
            ★★★★★ <span>(4.9)</span>
            </div>
        </div>

        <div class="course-footer">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdcFH1kGQR5lskhFZjH2BsZ_m2HDuKqiPlknUiLYKQc2CK3UA/alreadyresponded" class="btn-view">Ver clase</a>
        </div>
        </article>

        <!--3-->
        <article class="course-card" data-category="disertaciones">

        <div class="carousel">
            <img src="../Static/Images/Jornada Forense 2.png">
            <div class="dots"></div>
        </div>

        <div class="course-body">
            <span class="tag">Disertación</span>
            <h3>Ciencias Modernas</h3>
            <p class="description">
            En la investigacion Criminal.
            </p>

            <p class="author">
            <i class="fas fa-user"> </i>  Manuel Martin
            </p>

            <div class="rating">
            ★★★★★ <span>(4.9)</span>
            </div>
        </div>

        <div class="course-footer">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdcFH1kGQR5lskhFZjH2BsZ_m2HDuKqiPlknUiLYKQc2CK3UA/alreadyresponded" class="btn-view">Ver clase</a>
        </div>
        </article>

        <!--4-->
        <article class="course-card" data-category="disertaciones">

        <div class="carousel">
            <img src="../Static/Images/Jornada Forense 3.png">
            <div class="dots"></div>
        </div>

        <div class="course-body">
            <span class="tag">Disertación</span>
            <h3>Análisis Grafotécnico</h3>
            <p class="description">
            De firmas en documentos fotocopiados y la verificacion de autenticidad y falsedad.
            </p>

            <p class="author">
            <i class="fas fa-user"> </i>  Cieslik Agustina Oriana
            </p>

            <div class="rating">
            ★★★★★ <span>(4.9)</span>
            </div>
        </div>

        <div class="course-footer">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdcFH1kGQR5lskhFZjH2BsZ_m2HDuKqiPlknUiLYKQc2CK3UA/alreadyresponded" class="btn-view">Ver clase</a>
        </div>
        </article>

        <!--5-->
        <article class="course-card" data-category="disertaciones">

        <div class="carousel">
            <img src="../Static/Images/Jornada Forense 4.png">
            <div class="dots"></div>
        </div>

        <div class="course-body">
            <span class="tag">Disertación</span>
            <h3>Genética Forense para Criminalistas</h3>
            <p class="description">
            Aporte de las evidencias biológicas en la identificación del autor del delitos.
            </p>

            <p class="author">
            <i class="fas fa-user"> </i>  Marcelo Hernan Alonso Concha
            </p>

            <div class="rating">
            ★★★★★ <span>(4.9)</span>
            </div>
        </div>

        <div class="course-footer">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdcFH1kGQR5lskhFZjH2BsZ_m2HDuKqiPlknUiLYKQc2CK3UA/alreadyresponded" class="btn-view">Ver clase</a>
        </div>
        </article>

    </main>

    <div class="pagination">
        <button id="prevPage">Anterior</button>
            <span id="pageInfo"></span>
        <button id="nextPage">Siguiente</button>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <b><span>CriminalísticaOk</span></b>
                <p>Promovamos el aprendizaje</p>
            </div>
            <div class="footer-links">
                <div class="footer-column">
                    <h3>Enlaces</h3>
                    <ul>
                        <li><a href="../index.html#inicio">Inicio</a></li>
                        <li><a href="../index.html#servicios">Servicios</a></li>
                        <li><a href="../index.html#sobre-nosotros">Sobre Nosotros</a></li>
                        <li><a href="../index.html#testimonios">Testimonios</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="../index.html#servicios">Capacitaciones</a></li>
                        <li><a href="../index.html#servicios">Asesoramiento pericial</a></li>
                        <li><a href="../index.html#servicios">Pericias e informes accidentológicos</a></li>
                        <li><a href="../index.html#servicio1">Informes de ART in itinere / Accidente laboral</a></li>
                        <li><a href="../index.html#servicios">Análisis y reconstrucción del lugar del hecho</a></li>
                        <li><a href="../index.html#servicios">Informes técnico periciales</a></li>
                        <li><a href="../index.html#servicio2">Puntos periciales</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Legal</h3>
                    <ul>
                        <li><a href="../Templates/servicio.html">Términos de Servicio</a></li>
                        <li><a href="../Templates/politica.html">Política de Privacidad</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 CriminalisticaOk. Todos los derechos reservados.</p>
        </div>
    </footer>

    <a href="#inicio" class="back-to-top" id="backToTop">
        <i class="fas fa-arrow-up"></i>
    </a>


    <script src="../Static/Js/cursos.js"></script>
    <script src="../Static/Js/floating-buttons.js"></script>
    <script src="../Static/Js/main.js"></script>
</body>
</html>
